body{
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
}
header {
	background: #BBBBBB ;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-size: 22px;
	text-decoration: none;
	font-weight: bold;
}


nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.produtos {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
	padding: 50px 50px;

}

.produtos li {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 16%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
	transition: 0.7s all;
}

.produtos li:hover {
	border-color: #C78C19;
	transform: scale(1.05)
}

.produtos li:active {
	border-color: #088C19;
}

.produtos li:hover h2 {
/*	font-size: 34px; */
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin: 10px 0 0;
}

.formularios {
	margin-left: 33%;
}

form {
	margin: 40px 0;
	


}
form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}
.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: #444444;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 0.7s all;
	cursor: pointer;
}

.enviar:hover {
	background: orange;
	transform: scale(1.1); 

}

table {
	margin: 20px 0 40px;

}
thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 9px 15px

}
/* index html */
.banner {
	
	width: 100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
	text-shadow: 2px 2px darkgrey;
}

.principal {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.beneficios {
	padding: 3em 0;	
	background: #888888;
}

.conteudo-beneficios{
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5;
}

.itens:first-child {
	font-weight: bold;
}

.itens:before {
	font-weight: normal;
	content: "✀ ";
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000;
}

.imagem-beneficios:hover {
	opacity: 0.6;
}

.video {
	width: 560px;
	margin: 2em auto;
}

footer {

	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;

}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0;
}

@media screen and (max-width: 400px) {
	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
		width: auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		display: flex;
		position: static;
		justify-content: space-between;
	}

	.lista-beneficios, .imagem-beneficios {
		width: 100%;
	}
	
}

@media screen and (max-width: 970px) {
	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
		width: auto;
	}

	h1 {
		text-align: center;
	}
	
	nav {
		text-align: center;
		
		position: static;
	}

	.lista-beneficios, .imagem-beneficios {
		width: 100%;
	}
	
	.produtos li {
		width: 96%;
		margin-bottom: 10px;
	}
	.produtos {
		display: flex;
		flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;	
		max-width: 300px;
	}
	.formularios {
		margin-left: 15%;
	}
}



